doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="author" content="Mohamed Montaser")
    meta(name="description" content="Youtube Clone")
    title Youtube Clone
  body 
    include ./components/header